*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

body
{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background: #0b2b3b;
   overflow: hidden;
}

body::before
{
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(#0066ff, #000);
   clip-path: circle(22% at 30% 20%);
   z-index: 10;
}
body::after
{
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(#000, #ff2448);
   clip-path: circle(20% at 70% 90%);
   z-index: 10;
}

section
{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background: linear-gradient(to top, #00909b, #004146);
}

section .color
{ position: absolute; filter: blur(150px); }

section .color:nth-child(1)
{
   top: 90%;
   left: 70%;
   width: 600px;
   height: 600px; 
   background: #0059ff;
}

.box
{ 
   position: relative; 
   width: 100%;
   height: 100%;
   background: red;

}

.box .square
{
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0;
   font-size: 3rem;
   text-align: center;
   color: #fff;
   backdrop-filter: blur(5px); /* new */
   box-shadow: 0 25px 45px rgba(0,0,0,0.1);
   border: 1px solid rgba(255,255,255,0.5);
   border-right: 1px solid rgba(255,255,255,0.2);
   border-bottom: 1px solid rgba(255,255,255,0.2);
   background: rgba(255,255,255,0.1);
   border-radius: 10px;
   cursor: pointer;
   z-index: 8;
   animation: animate 10s linear infinite;
   animation-delay: calc(-1s * var(--i));
   transition: .5s;
   user-select: none;
}
.box .square:hover
{ transition: 0s; background: rgba(22, 76, 255, 0.308); }

.box .square:active
{ background: #0066ff; }

.box .square:nth-child(1)
{
   top: 7rem;
   left: 35rem;
   width: 100px;
   height: 100px;
   z-index: 100;
}
.box .square:nth-child(2)
{
   top: 190px;
   left: -80px;
   width: 120px;
   height: 120px;
   z-index: 2;
}
.box .square:nth-child(3)
{
   bottom: 250px;
   right: -60px;
   width: 80px;
   height: 80px;
   z-index: 200;
}
.box .square:nth-child(4)
{
   bottom: -60px;
   left: -70px;
   width: 50px;
   height: 50px;
}
.box .square:nth-child(5)
{
   top: -270px;
   left: 350px;
   width: 60px;
   height: 60px;
}
.box .square:nth-child(6)
{
   top: -150px;
   left: 550px;
   width: 60px;
   height: 60px;
}
.box .square:nth-child(7)
{
   font-size: 1.5em;
   top: -200px;
   left: -230px;
   width: 100px;
   height: 100px;
   z-index: 100;
}
.box .square:nth-child(8)
{
   font-size: 1.5em;
   top: 1rem;
   left: -290px;
   width: 50px;
   height: 50px;
   z-index: 100;
}
.box .square:nth-child(9)
{
   font-size: 1.5em;
   top: 20px;
   left: 400px;
   width: 50px;
   height: 50px;
}

@keyframes animate
{
   0%,100%
   { transform: translateY(-40px); }
   
   50%
   { transform: translateY(40px); }
}